* {
    box-sizing: border-box;
    padding: 0;
    text-align: center;
    margin-bottom: 10px;
    margin-top: 10p;
    font-family: 'Shippori Mincho B1', serif;
}
.main{
    margin:0 auto;
    width:1200px;
    border-radius: 50%;
    box-shadow: 0 0 10px rgba(238, 188, 7, 0.5);
    background: rgb(245, 219, 75);
}
.right{
    background-color: rgb(78, 241, 78);
    border-radius: 5px;
    text-align: center;
}
.wrong{
    background-color: rgb(241, 113, 90);
    border-radius: 10px;
    text-align: center;
    margin:0 auto;
    
}

.hidden{
    display: none;
}
